html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse
}

@font-face {
    font-family: 'Pictos';
    src: url('../media/fonte/pictos-web.eot');
    src: local('☺'), url('../media/fonte/pictos-web.woff') format('woff'), url('../media/fonte/pictos-web.ttf') format('truetype'), url('../media/fonte/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProLight-Regular';
    src: url('../media/fonte/FreightSansProLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProSemibold-Regular';
    src: url('../media/fonte/FreightSansProSemibold-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    height: 651px;
    width: 100%;
    margin: 0px;
    position: relative;
    font-size: 12px;
    font-family: 'FreightSansProLight-Regular', Lucida Sans, Lucida Grande, sans-serif;
    background-image: url("../media/andet/greyzz.png");
}


/* skrifter */

p {
    font-size: 1em;
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'FreightSansProLight-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.28em;
}

h4 {
    font-size: 1.14em;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

a:hover {
    text-decoration: none;
}

.pictos {
    font-family: Pictos;
}


/* Login */

.login {
    width: 300px;
    height: 100%;
    margin: 0px auto;
}

.login .linkbokse {
    padding-top: 100px;
}

.login .linkbokse .loginboks {
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    border: 1px solid black;
}

.login .loginboks h1 {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px 25px 0px 0px;
    line-height: 50px;
    color: white;
}

.login .loginboks form {
    width: 80%;
    margin: 0px auto;
}

.login .loginboks form p {
    margin-top: 20px;
    font-size: 14px;
}

.login .loginboks form input {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}

.login .loginboks form input[type='submit'] {
    width: 102%;
    margin-top: 30px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
}

.login .loginboks form input[type='submit']:hover {
    background-color: rgb(0, 0, 0);
}


/* Frontpage */

.frontpage {
    width: 750px;
    height: 100%;
    margin: 0px auto;
}

.forside {
    width: 900px;
}

.frontpage .logo {
    display: block;
    margin: 0px auto;
    margin-top: 100px;
    width: 300px;
}

.frontpage .head {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .logud {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.frontpage .linkbokse {
    padding-top: 110px;
}

.frontpage .linkbokse .linkboks {
    width: 140px;
    height: 140px;
    background-color: rgb(0, 0, 0);
    float: left;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
    position: relative;
    margin-bottom: 50px;
}

.frontpage .linkbokse .linkboks {
    margin-right: 40px;
}

.frontpage .linkbokse .linkboks:last-of-type {
    margin: 0px;
}

.frontpage .linkbokse .stats a {
    color: white;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .linkbokse .stats a h1 {
    font-size: 17px;
    text-align: center;
    line-height: 140px;
}

.frontpage .linkbokse .stats a h1:hover {
    border-radius: 25px;
    box-shadow: inset 1px 1px 5px grey;
}

.frontpage .linkbokse .annonceboks a h1 {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    padding-top: 40px;
    height: 100px;
}

.frontpage .linkbokse .brancheguide a {
    color: white;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .linkbokse .brancheguide a h1 {
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    border-top: 1px solid white;
}

.frontpage .linkbokse .brancheguide a:first-of-type h1 {
    border-width: 0px;
}

.frontpage .linkbokse .brancheguide a h1:hover {
    box-shadow: inset 1px 1px 5px grey;
}

.frontpage .linkbokse .brancheguide a:first-of-type h1:hover {
    border-radius: 25px 25px 0px 0px;
}

.frontpage .linkbokse .brancheguide a:last-of-type h1:hover {
    border-radius: 0px 0px 25px 25px;
}

.frontpage .linkbokse .online {}

.frontpage .linkbokse .online a {
    color: white;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .linkbokse .online a h1 {
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}

.frontpage .linkbokse .online a:first-of-type h1 {
    border-radius: 25px 25px 0px 0px;
    border-bottom: 1px solid white;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.frontpage .linkbokse .online a:last-of-type h1 {
    border-radius: 0px 0px 25px 25px;
    height: 70px;
}

.frontpage .linkbokse .online a h1:hover {
    box-shadow: inset 1px 1px 5px grey;
}

.frontpage .linkbokse .linkboks:nth-of-type(5n) {
    margin-right: 0px;
}

.frontpage .linkbokse .data .datadel {
    height: 100%;
    position: relative;
}

.frontpage .linkbokse .data .datadel a {
    color: white;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .linkbokse .data .datadel h1 {
    font-size: 18px;
    text-align: center;
    line-height: 140px;
}

.frontpage .linkbokse .data .datadel:first-of-type h1 {
    line-height: 140px;
    border-radius: 25px 25px 0px 0px;
}

.frontpage .linkbokse .data .datadel:last-of-type a:first-of-type h1 {
    border-bottom: 0px solid white;
}

.frontpage .linkbokse .data .datadel:last-of-type a:last-of-type h1 {
    border-radius: 25px;
}

.frontpage .linkbokse .data .datadel h1:hover {
    box-shadow: inset 1px 1px 5px grey;
}

.frontpage .linkbokse .admin {
    margin-top: 0px;
}

.frontpage .linkbokse .admin a {
    color: white;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.frontpage .linkbokse .admin h1 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid white;
}

.frontpage .linkbokse .admin a:last-of-type h1 {
    border-bottom: 0px;
}

.frontpage .linkbokse .admin a:last-of-type h1 {
    border-radius: 0px 0px 25px 25px;
}

.frontpage .linkbokse .admin h1:hover {
    box-shadow: inset 1px 1px 5px grey;
}

.frontpage .linkbokse .admin .rubrik:hover {
    box-shadow: inset 0px 0px 0px grey;
}


/* statistik */

.page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    display: block;
    min-width: 960px;
    padding-top: 34px;
}

.page .nav {
    width: 100%;
    height: 3.84%;
    padding-bottom: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.page .nav .menu {
    position: absolute;
    left: 20px;
    top: 4px;
}

.page .nav .midt {
    width: 350px;
    height: 100%;
    display: block;
    position: relative;
    margin: 0px auto;
}

.page .nav .midt .header {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

.page .nav .midt .back {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.page .nav .midt .forth {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.page .nav .display {
    position: absolute;
    right: 20px;
    top: 4px;
}

.content {
    width: 3180px;
    height: 94.1%;
    position: relative;
}

.content .maned {
    width: 479px;
    height: 100%;
    position: relative;
    float: left;
    padding-right: 25px;
    margin-right: 25px;
    border-left: 1px solid black;
}

.content .maned .manedsnavn {
    width: 99.8%;
    height: 3%;
    border: 1px solid black;
    border-left-width: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 125%;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-weight: bold;
}

.content .maned .top {
    height: 33%;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.content .maned .top .topdel {
    height: 100%;
    position: relative;
    float: left;
}

.content .maned .top .beskrivelse {
    width: 25%;
    position: relative;
    border-right: 1px solid black;
}

.content .maned .top .beskrivelse .beskrivelsesdel {}

.content .maned .top .felt {
    height: 9.7%;
    position: relative;
    border-bottom: 1px solid transparent;
    /* fix for at få dem til at passe */
}

.content .maned .top .beskrivelse p {
    margin-left: 5px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    line-height: 150%;
}

.content .maned .top .topdel .navn h2 {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: 4px;
}

.content .maned .top .salger {
    width: 18.5%;
    position: relative;
    border-right: 1px solid black;
}

.content .maned .top .salger:last-of-type {
    width: 18%;
    border-right: 0px;
}

.content .maned .top .salger .salgsdel {
    height: 9.5%;
    position: relative;
    border-bottom: 1px solid black;
}

.content .maned .top .salger .todel {
    height: 20%;
    position: relative;
}

.content .maned .top .salger .salgsdel p {
    height: 100%;
}

.content .maned .top .salger .todel .to {
    height: 50%;
}

.content .maned .top .salger .salgsdel p {
    text-align: right;
    margin-right: 10px;
    line-height: 150%;
}

.content .maned .top .salger .diff p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .top .salger .diff {
    border-bottom-width: 0px;
}

.content .maned .top .salger .negativ p {
    color: red;
}


/* Bottom */

.content .maned .bottom {
    height: 63.5%;
    width: 100.3%;
    position: relative;
}

.content .maned .bottom .barchart {
    width: 19%;
    height: 100%;
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
    float: right;
    position: relative;
}

.content .maned .bottom .barchart h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .bottom .barchart p {
    position: absolute;
    bottom: 10px;
}

.content .maned .bottom .barchart .bud {
    left: 29px;
}

.content .maned .bottom .barchart .rea {
    left: 60px;
}

.content .maned .bottom .grafer {
    width: 80.5%;
    height: 100%;
}

.content .maned .bottom .grafer .graf {
    border-bottom: 1px solid black;
    padding-top: 1px;
}

.content .maned .bottom .grafer .graf .inactive {
    display: none;
}

.content .maned .bottom .grafer .graf .active {
    display: block;
    ;
}

.content .maned .bottom .grafer .graf .graftext {
    float: right;
    width: 70px;
}

.content .maned .bottom .grafer .graf .graftext h1 {
    margin: 5px 0px 20px 0px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .bottom .grafer .graf .graftext p {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}

.content .maned .bottom .grafer .graf .graftext .bud:before {
    content: "";
    height: 5px;
    width: 15px;
    background-color: rgba(0, 100, 204, 0.5);
    position: absolute;
    top: 3px;
    left: 0px;
}

.content .maned .bottom .grafer .graf .graftext .rea {
    margin-bottom: 40px;
}

.content .maned .bottom .grafer .graf .graftext .rea:before {
    content: "";
    height: 5px;
    width: 15px;
    background-color: rgba(23, 148, 0, 0.5);
    position: absolute;
    top: 3px;
    left: 0px;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer {
    width: 90%;
    padding: 1px 0px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-right: 2px;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer:hover {
    background-color: black;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer a:hover {
    color: white;
}

.content .maned .bottom .grafer .graf .graftext .active {
    background-color: black;
}

.content .maned .bottom .grafer .graf .graftext .active a {
    color: white;
}


/* Stats samlet */

.statssamlet {
    height: 100%;
}

.statssamlet .page {
    height: 1060px;
    overflow-y: visible;
}

.statssamlet .content .maned {
    height: auto;
    margin-left: 15px;
    margin-right: 10px;
}

.statssamlet .content .maned .top {
    height: 216px;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.statssamlet .content .maned .bottom {
    height: 771px;
}

.statssamlet .content .maned .bottom .graf {
    border-bottom: 1px solid black;
}

.statssamlet .content .maned .bottom .graf canvas {
    padding-top: 2px;
}

.statssamlet .dato {
    position: absolute;
    right: 15px;
    top: 5px;
}

.statssamlet .printknap {
    position: absolute;
    right: 220px;
    top: 5px;
}


/* år til dato */

.ar_til_dato {
    width: 100%;
    position: relative;
    height: auto;
}

.ar_til_dato .page {
    width: 100%;
    position: relative;
}

.ar_til_dato .page .nav {
    width: 100%;
    height: 3.84%;
    padding-bottom: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.ar_til_dato .page .nav .menu {
    position: absolute;
    left: 20px;
    top: 4px;
}

.ar_til_dato .page .nav .midt {
    width: 350px;
    height: 100%;
    display: block;
    position: relative;
    margin: 0px auto;
}

.ar_til_dato .page .nav .midt .header {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

.ar_til_dato .page .nav .midt .back {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.ar_til_dato .page .nav .midt .forth {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.ar_til_dato .page .nav .display {
    position: absolute;
    right: 20px;
    top: 4px;
}

.ar_til_dato .page .nav .printknap {
    position: absolute;
    top: 8px;
    right: 150px;
}

.ar_til_dato .page .nav .dato {
    position: absolute;
    right: 15px;
    top: 5px;
}

.ar_til_dato .page .content {
    width: 100%;
}

.ar_til_dato .page .content .del {
    width: 600px;
    height: 400px;
    float: left;
    margin: 10px;
    position: relative;
    border: 1px solid black;
}

.ar_til_dato .page .content .del h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.ar_til_dato .page .content .del .beskrivelse {
    float: right;
    width: 100px;
    height: 82.3%;
    padding-top: 40px;
}

.ar_til_dato .page .content .del .beskrivelse p {
    font-size: 14px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 20px;
    position: relative;
}

.ar_til_dato .page .content .del .beskrivelse p:before {
    content: "";
    height: 5px;
    width: 20px;
    background-color: rgba(23, 148, 0, 0.5);
    position: absolute;
    top: 4px;
    left: -25px;
}

.ar_til_dato .page .content .del .beskrivelse .to:before {
    background-color: rgba(0, 100, 204, 0.5);
}

.ar_til_dato .page .content .del .beskrivelse .tre:before {
    background-color: rgba(255, 193, 0, 0.5);
}


/* opret ny ordre */

.neworder .opretboks {
    width: 750px;
    height: auto;
    margin: 0px auto;
    margin-top: 100px;
    position: relative;
    border-radius: 25px;
}

.neworder .opretboks .header {
    width: 100%;
    position: relative;
}

.neworder .opretboks .header h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    line-height: 50px;
    color: white;
}

.neworder .opretboks .header a h1 {
    position: absolute;
    top: 2px;
    left: 20px;
    width: auto;
    background-color: transparent;
    border: 0px;
}

.neworder .opretboks .header .flere_uger h1 {
    width: 200px;
    left: auto;
    right: -20px;
}

.neworder .opretboks form {
    width: 100%;
    position: relative;
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
}

.neworder .opretboks form table {
    width: 95%;
    margin: 0px auto;
    position: relative;
}

.neworder .opretboks form tr {
    width: 100%;
    position: relative;
}

.neworder .opretboks form tr td {
    width: 40%;
}

.neworder .opretboks form tr td:first-of-type {
    padding-right: 5%;
}

.neworder .opretboks form tr td:last-of-type {
    padding-left: 5%;
}

.neworder .opretboks form tr td[colspan='2'] {
    padding-right: 0px;
    padding-left: 0px;
}

.neworder .opretboks form tr td input {
    width: 100%;
    padding: 0px 5px;
}

.neworder .opretboks form tr td select {
    width: 102%;
}

.neworder .opretboks form tr td textarea {
    width: 99%;
    height: 100px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-size: 14px;
    padding: 5px;
}

.neworder .opretboks form tr td input,
.neworder .opretboks form tr td select {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 7px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-size: 14px;
}

.neworder .opretboks form tr td p {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.neworder .opretboks form tr td input[type='submit'] {
    width: 101%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-weight: bold;
    color: white;
    background-color: grey;
}

.neworder .opretboks form tr td input[type='submit']:hover {
    background-color: rgb(0, 0, 0);
}

.neworder .opretboks .header .menu_right h1 {
    right: 10px;
    left: auto;
}

.neworder .opretboks .placeringsrakke {
    display: none;
}

.neworder .opretboks .antalplaceringsrakke {
    display: none;
}

.neworder .opretboks .tilknyt_knap {
    padding-top: 10px;
}

.neworder .opretboks .tilknyt_knap a {
    color: white;
}

.neworder .opretboks .tilknyt_knap a h1 {
    width: 102%;
    height: 30px;
    background-color: grey;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.neworder .opretboks .tilknyt_knap a h1:hover {
    background-color: rgb(0, 0, 0);
}

.neworder .brancheguideandring {
    display: none;
}


/* Placeringstable */

.placeringstable {
    margin: 0px auto;
}

.placeringstable h1 {
    text-align: left;
    margin-top: 20px;
}

.placeringstable table {
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.placeringstable table p {
    font-size: 16px;
    padding: 5px;
}

.placeringstable table tr {
    border-bottom: 1px solid black;
    position: relative;
}

.placeringstable table tr td,
.placeringstable table tr th {
    height: 35px;
}

.placeringstable table tr th p {
    color: black;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
}

.placeringstable table tr td p {
    font-size: 14px;
}

.placeringstable table tr td:nth-of-type(1) {
    width: 18%;
}

.placeringstable table tr td:nth-of-type(1) p {
    font-size: 12px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.placeringstable table tr td:nth-of-type(2) {
    width: 15%
}

.placeringstable table tr td:nth-of-type(3) {
    width: 25%;
}

.placeringstable table tr td:nth-of-type(3) p {
    font-size: 14px;
}

.placeringstable table tr td:nth-of-type(4) {
    width: 10%;
    text-align: right;
}

.placeringstable table tr td:nth-of-type(5) {
    width: 5%;
    text-align: right:
}

.placeringstable table tr td:nth-of-type(6) {
    width: 5%;
    text-align: right:
}

.placeringstable table tr td:first-of-type p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}


/* opret ny budgetmaned */

.newbudget .opretboks {
    width: 750px;
    height: 700px;
    margin: 0px auto;
    margin-top: 100px;
    position: relative;
    border-radius: 25px;
}

.newbudget .opretboks .header {
    width: 100%;
    position: relative;
}

.newbudget .opretboks .header h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    line-height: 50px;
    color: white;
}

.newbudget .opretboks .header a h1 {
    position: absolute;
    top: 2px;
    left: 20px;
    width: auto;
    background-color: transparent;
    border: 0px;
}

.newbudget .opretboks form {
    width: 100%;
    position: relative;
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
}

.newbudget .opretboks form table {
    width: 80%;
    margin: 0px auto;
    position: relative;
}

.newbudget .opretboks form tr {
    width: 100%;
    position: relative;
}

.newbudget .opretboks form tr td {
    width: 20%;
}

.newbudget .opretboks form tr td:first-of-type {
    padding-right: 5%;
}

.newbudget .opretboks form tr td:last-of-type {
    padding-left: 5%;
}

.newbudget .opretboks form tr td[colspan='3'] {
    padding-right: 0px;
    padding-left: 0px;
}

.newbudget .opretboks form tr td input {
    width: 100%;
    padding: 0px 5px;
}

.newbudget .opretboks form tr td select {
    width: 102%;
}

.newbudget .opretboks form tr td input,
.newbudget .opretboks form tr td select {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 7px;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-size: 14px;
}

.newbudget .opretboks form tr td h2 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 12px;
    font-weight: bold;
}

.newbudget .opretboks form tr td input[type='submit'] {
    width: 102%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-weight: bold;
    color: white;
}

.newbudget .opretboks form tr td input[type='submit']:hover {
    background-color: rgb(0, 0, 0);
}


/* Budget liste */

.budgetpage {
    width: 900px;
    margin: 0px auto;
    padding: 50px;
}

.budgetpage h1 {
    text-align: right;
}

.budgetpage table {
    margin-top: 25px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.budgetpage table p {
    font-size: 16px;
    padding: 5px;
}

.budgetpage table tr {
    border-bottom: 1px solid black;
    position: relative;
}

.budgetpage table tr td {
    padding: 5px 0px;
}

.budgetpage table tr td:first-of-type {
    width: 45%;
}

.budgetpage table tr td:first-of-type p,
.budgetpage table tr td:nth-of-type(2) p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.budgetpage table tr td:nth-of-type(3),
.budgetpage table tr td:nth-of-type(4) {
    text-align: right;
}

.budgetpage .menulink {
    float: left;
}


/* Ordre månedsliste */

.ordrepage {
    width: 900px;
    margin: 0px auto;
    padding: 50px;
}

.ordrepage h1 {
    text-align: right;
}

.ordrepage table {
    margin-top: 25px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.ordrepage table p {
    font-size: 16px;
    padding: 5px;
}

.ordrepage table tr {
    border-bottom: 1px solid black;
    position: relative;
}

.ordrepage table tr td {
    height: 35px;
}

.ordrepage table tr:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.ordrepage table tr td:first-of-type {
    width: 50%;
    padding-left: 10px;
}

.ordrepage table tr td:first-of-type p,
.ordrepage table tr td:nth-of-type(2) p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.ordrepage table tr td:nth-of-type(3),
.ordrepage table tr td:nth-of-type(4) {
    text-align: left;
}

.ordrepage .menulink {
    float: left;
}


/* Ordreliste */

.ordrespecpage {
    width: 900px;
    margin: 0px auto;
    padding: 50px;
}

.ordrespecpage h1 {
    text-align: right;
}

.ordrespecpage table {
    margin-top: 25px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.ordrespecpage table p {
    font-size: 16px;
    padding: 5px;
}

.ordrespecpage table tr {
    border-bottom: 1px solid black;
    position: relative;
}

.ordrespecpage table tr td,
.ordrespecpage table tr th {
    height: 35px;
}

.ordrespecpage table tr th p {
    color: black;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
}

.ordrespecpage table tr td:nth-of-type(1) {
    width: 25%;
}

.ordrespecpage table tr td:nth-of-type(3),
.ordrespecpage table tr td:nth-of-type(4) {
    width: 18%;
}

.ordrespecpage table tr td:first-of-type p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.ordrespecpage table tr td:nth-of-type(6),
.ordrespecpage table tr td:nth-of-type(7) {
    text-align: right;
    width: 50px;
}

.ordrespecpage .menulink {
    float: left;
}


/* Magasin */

.magasin .menulink {
    float: left;
}

.magasin .rediger_magasiner {
    text-align: right;
}

.annoncer .menulink {
    float: none;
}


/* annoncer */

.annoncer {
    width: 900px;
    margin: 0px auto;
    padding: 25px;
}

.annoncer .magasinselect {
    height: 30px;
    border: 1px solid black;
    float: right;
    margin-bottom: 15px;
}

.annoncer .genfaktureringselect {
    height: 30px;
    border: 1px solid black;
    float: right;
    margin-bottom: 15px;
}

.annoncer h1 {
    float: none;
    text-align: left;
    margin-top: 20px;
}

.annoncer table {
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid black;
    margin-top: 5px;
}

.annoncer table th {
    height: 30px;
    padding: 0px 5px;
}

.annoncer table th {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
}

.annoncer table td {
    border-top: 1px solid black;
    height: 30px;
    padding: 5px 5px;
    line-height: 130%;
}

.annoncer table td:nth-of-type(1) {
    width: 25%;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
    font-size: 14px;
}

.annoncer table td:nth-of-type(2) {
    width: 15%;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
    font-size: 14px;
}

.annoncer table td:nth-of-type(3) {
    width: 20%;
}

.annoncer table td:nth-of-type(4) {
    width: 40%;
}


/* Ledigt online */

.online_ledig {
    width: 900px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    padding-top: 50px;
}

.online_ledig:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.online_ledig .nav {
    height: 50px;
    width: 100%;
    padding-top: 5px;
    position: relative;
}

.online_ledig .nav .menulink {
    float: left;
}

.online_ledig .nav .head {
    text-align: center;
}

.online_ledig .nav #tilbage {
    position: absolute;
    top: 0px;
    left: 300px;
    font-size: 18px;
}

.online_ledig .nav #frem {
    position: absolute;
    top: 0px;
    right: 250px;
    font-size: 18px;
}

.online_ledig .uge {
    width: 190px;
    height: 780px;
    position: relative;
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid black;
}

.online_ledig .uge:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.online_ledig .uge:last-of-type {
    margin-right: 0px;
    padding-right: 0px;
    border-right-width: 0px;
}

.online_ledig .uge h2 {
    text-align: center;
    margin-bottom: 20px;
}

.online_ledig .uge p {
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
}

.online_ledig .uge .web {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

.online_ledig .uge .web .annonce {
    position: absolute;
    border: 1px solid black;
    background-color: rgba(160, 232, 147, 1);
    text-align: center;
    line-height: 200%;
    font-weight: bold;
}

.online_ledig .uge .web .optaget {
    background-color: rgba(244, 155, 161, 1);
}

.online_ledig .uge .web .delvis {
    background-color: rgba(248, 244, 157, 1);
}

.online_ledig .uge .web .topbanner {
    width: 99%;
    height: 10%;
    top: 0%;
    left: 0%;
}

.online_ledig .uge .web .forsidebanner {
    width: 99%;
    height: 10%;
    top: 10.5%;
    left: 0%;
}

.online_ledig .uge .web .hojre1 {
    width: 25%;
    height: 10%;
    top: 30%;
    right: 0%;
}

.online_ledig .uge .web .hojre2 {
    width: 25%;
    height: 20%;
    top: 40%;
    right: 0%;
}

.online_ledig .uge .web .hojre3 {
    width: 25%;
    height: 10%;
    top: 60%;
    right: 0%;
}

.online_ledig .uge hr {
    width: 80%;
    margin: 50px auto;
    background-color: black;
    height: 1px;
    border: 0px solid black;
}

.online_ledig .uge .nyhedsbrev {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

.online_ledig .uge .nyhedsbrev .annonce {
    position: absolute;
    border: 1px solid black;
    background-color: rgba(160, 232, 147, 1);
    text-align: center;
    line-height: 200%;
    font-weight: bold;
}

.online_ledig .uge .nyhedsbrev .optaget {
    background-color: rgba(244, 155, 161, 1);
}

.online_ledig .uge .nyhedsbrev .topbanner {
    width: 99%;
    height: 10%;
    top: 0%;
    left: 0%;
}

.online_ledig .uge .nyhedsbrev .nyhedsbrev1 {
    width: 99%;
    height: 10%;
    top: 20%;
    left: 0%;
}

.online_ledig .uge .nyhedsbrev .nyhedsbrev2 {
    width: 99%;
    height: 10%;
    top: 40%;
    left: 0%;
}

.online_ledig .uge .nyhedsbrev .nyhedsbrev3 {
    width: 99%;
    height: 10%;
    top: 60%;
    left: 0%;
}

.ugenrValg {
    margin-top: 50px;
}

.ugenrValg a {
    width: 31%;
    display: block;
    float: left;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 7px;
    line-height: 30px;
}

.ugenrValg a:hover {
    background-color: rgb(242, 242, 242);
}

.online_pr_uge .menulink {
    margin-top: 25px;
    padding-bottom: 15px;
}

.online_pr_uge table td:nth-of-type(1) {
    width: 20%;
    font-weight: bold;
}

.online_pr_uge table td:nth-of-type(2) {
    width: 20%;
    font-weight: bold;
}

.online_pr_uge table td:nth-of-type(3) {
    width: 60%;
}


/* Brancheguide */

.annoncer .headbeskrivelse {
    float: right;
    line-height: 30px;
    margin-right: 5px;
}

.brancheguide table td:nth-of-type(1) {
    width: 25%;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}

.brancheguide table td:nth-of-type(2) {
    width: 60%;
    font-family: 'FreightSansProLight-Regular', Lucida Sans, Lucida Grande, sans-serif;
    text-align: left;
    font-size: 14px;
}

.brancheguide table td:nth-of-type(3) {
    width: 10%;
    text-align: right;
}

.brancheguide table td:nth-of-type(4) {
    width: 40%;
}

.brancheguide_opret table tr td input {
    width: 98% !important;
}

.brancheguide_opret table tr td[colspan='2'] input {
    width: 99% !important;
}

.brancheguide_opret table tr td[colspan='2'] input[type='submit'] {
    width: 100.5% !important;
}

.brancheguide_opret table tr td input[type='file'] {
    padding-top: 5px;
    border-width: 0px;
}

.brancheguides table {
    margin-top: 0px;
}

.brancheguides table td:nth-of-type(1) {
    width: 15% !important;
}

.brancheguides table td:nth-of-type(1) img {
    max-height: 40px;
    max-width: 100px;
    margin: 5px auto 5px auto;
    display: block;
}

.brancheguides table td:nth-of-type(2) {
    width: 30% !important;
}

.brancheguides table td:nth-of-type(2) p {
    font-weight: bold;
}

.brancheguides table td:nth-of-type(3) {
    width: 20% !important;
}

.brancheguides table td:nth-of-type(4),
.brancheguides table td:nth-of-type(5),
.brancheguides table td:nth-of-type(6) {
    width: 7% !important;
}

.brancheguides table td:nth-of-type(4) p,
.brancheguides table td:nth-of-type(5) p,
.brancheguides table td:nth-of-type(6) p {
    text-align: center;
}

.brancheguides .kategorioverskrift {
    margin-top: 25px;
    margin-bottom: 5px;
}

.brancheguides .menulink {
    padding-bottom: 20px;
}

.brancheguides .exceldownload {
    float: right;
    height: 20px;
}


/* print */

.print .page {
    padding-top: 0px;
}

.print .page .content .del {
    width: 450px;
    height: 600px;
    margin-bottom: 15px;
}

.print_stats .page {
    height: auto;
    padding-top: 0px;
}

.print_stats .page .content {
    width: 950px;
}

.print_stats .maned {
    width: 900px;
    margin-bottom: 250px;
}