html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse
}

* {
    position: relative;
}

@font-face {
    font-family: 'Pictos';
    src: url('../../media/fonte/pictos-web.eot');
    src: local('☺'), url('../../media/fonte/pictos-web.woff') format('woff'), url('../../media/fonte/pictos-web.ttf') format('truetype'), url('../../media/fonte/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProLight-Regular';
    src: url('../media/fonte/FreightSansProLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProSemibold-Regular';
    src: url('../media/fonte/FreightSansProSemibold-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    height: 651px;
    width: 100%;
    margin: 0px;
    position: relative;
    font-size: 12px;
    font-family: 'Verdana', Lucida Sans, Lucida Grande, sans-serif;
}


/* skrifter */

p {
    font-size: 1em;
    font-weight: normal;
    line-height: 130%;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Verdana', Lucida Sans, Lucida Grande, sans-serif;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.28em;
}

h4 {
    font-size: 1.14em;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

a:hover {
    text-decoration: none;
}

.pictos {
    font-family: Pictos;
}


/* Page */

.page {
    width: 639px;
    margin: 0px auto;
    height: 100%;
    position: relative;
}


/* Front */

.page .top {
    height: 43px;
    width: 100%;
    background-image: url("media/BRANCHEGUIDE-639X43_01.jpg");
    margin-bottom: 10px;
}

.page .orangebox {
    width: 160px;
    height: 100px;
    background-image: url("media/Bliv_optaget_i_brancheguiden_2013.jpg");
    float: right;
    margin-left: 5px;
    position: relative;
    z-index: 2;
}

.page .orangebox div {}

.page .fronttext {
    height: 100px;
    margin-bottom: 10px;
}

.page .fronttext h1 {
    margin-bottom: 5px;
}

.page select {
    width: 245px;
    border: 1px solid black;
}

.page .brancheguideplakat {
    width: 100%;
    height: 200px;
    background-image: url("media/BG_billede.jpg");
}

.page .brancheguide_header {
    margin-top: 20px;
    margin-bottom: 5px;
}

.page .kategorier {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 75px;
    height: 410px;
}

.page .kategorier:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.page .kategorier .kategori {
    width: 154px;
    height: 40px;
    float: left;
    margin-right: 5px;
    margin-bottom: 25px;
}

.page .search h1 {
    margin-bottom: 10px;
}

.page .search .query {
    width: 304px;
    height: 19px;
    border: 1px solid black;
}

.page .search .submit {
    height: 24px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-width: 0px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.page .kategorier .administratorer {
    background-image: url("media/brancher/Administratorer.jpg");
}

.page .kategorier .advokater {
    background-image: url("media/brancher/Advokater.jpg");
}

.page .kategorier .arkitekter {
    background-image: url("media/brancher/Arkitekter.jpg");
}

.page .kategorier .asset_management {
    background-image: url("media/brancher/Asset_Management.jpg");
    margin-right: 0px;
}

.page .kategorier .bygherrerådgivere {
    background-image: url("media/brancher/Bygherreraadgivere.jpg");
}

.page .kategorier .ejendomsselskaber {
    background-image: url("media/brancher/Ejendomsselskaber.jpg");
}

.page .kategorier .energioptimering {
    background-image: url("media/brancher/Energioptimering.jpg");
}

.page .kategorier .entreprenører {
    background-image: url("media/brancher/Entreprenoerer.jpg");
    margin-right: 0px;
}

.page .kategorier .erhvervsejendomsmæglere {
    background-image: url("media/brancher/Erhvervsejendomsmaeglere.jpg");
}

.page .kategorier .facility_management_udbydere {
    background-image: url("media/brancher/Facility_Management_Udbydere.jpg");
}

.page .kategorier .finansiel_rådgivning {
    background-image: url("media/brancher/Finansiel_raadgivning.jpg");
}

.page .kategorier .finansieringsselskaber {
    background-image: url("media/brancher/Finansieringsselskaber.jpg");
    margin-right: 0px;
}

.page .kategorier .foreninger {
    background-image: url("media/brancher/Foreninger.jpg");
}

.page .kategorier .forsikringsselskaber {
    background-image: url("media/brancher/Forsikringsselskaber.jpg");
}

.page .kategorier .indretning {
    background-image: url("media/brancher/Indretning.jpg");
}

.page .kategorier .ingeniører {
    background-image: url("media/brancher/Ingenioerer.jpg");
    margin-right: 0px;
}

.page .kategorier .investeringsselskaber {
    background-image: url("media/brancher/Investeringsselskaber.jpg");
}

.page .kategorier .konferencer_og_efteruddannelse {
    background-image: url("media/brancher/Konferencer_og_efteruddannelse.jpg");
}

.page .kategorier .landinspektører {
    background-image: url("media/brancher/Landinspektoerer.jpg");
}

.page .kategorier .portaler_for_salg_og_udlejning {
    background-image: url("media/brancher/portaler_for_salg_og_udlejning.jpg");
}

.page .kategorier .projektsalg {
    background-image: url("media/brancher/projektsalg.jpg");
}

.page .kategorier .medie_reklame_og_kommunikation {
    background-image: url("media/brancher/Medie_reklame_og_kommunikation.jpg");
    margin-right: 0px;
}

.page .kategorier .projektudviklere {
    background-image: url("media/brancher/Projektudviklere.jpg");
}

.page .kategorier .rekruttering {
    background-image: url("media/brancher/Rekruttering.jpg");
}

.page .kategorier .retail_management {
    background-image: url("media/brancher/Retail_Management.jpg");
    margin-right: 0px;
}

.page .kategorier .revisorer {
    background-image: url("media/brancher/Revisorer.jpg");
}

.page .kategorier .sikkerhedsvirksomheder {
    background-image: url("media/brancher/Sikkerhedsvirksomheder.jpg");
}

.page .kategorier .forsikringsmagler {
    background-image: url("media/brancher/Forsikringsmaglere.jpg");
}

.administratorer .top {
    background-image: url("media/top/administratorer.jpg");
}

.advokater .top {
    background-image: url("media/top/advokater.jpg");
}

.arkitekter .top {
    background-image: url("media/top/arkitekter.jpg");
}

.asset_management .top {
    background-image: url("media/top/asset_management.jpg");
}

.bygherrerådgivere .top {
    background-image: url("media/top/bygherreraadgivere.jpg");
}

.ejendomsselskaber .top {
    background-image: url("media/top/ejendomsselskaber.jpg");
}

.entreprenører .top {
    background-image: url("media/top/entreprenoerer.jpg");
}

.energioptimering .top {
    background-image: url("media/top/energioptimering.jpg");
}

.erhvervsejendomsmæglere .top {
    background-image: url("media/top/erhvervsejendomsmaeglere.jpg");
}

.facility_management_udbydere .top {
    background-image: url("media/top/facility_management_udbydere.jpg");
}

.finansiel_rådgivning .top {
    background-image: url("media/top/finansiel_raadgivning.jpg");
}

.finansieringsselskaber .top {
    background-image: url("media/top/finansieringsselskaber.jpg");
}

.foreninger .top {
    background-image: url("media/top/foreninger.jpg");
}

.forsikringsselskaber .top {
    background-image: url("media/top/forsikringsselskaber.jpg");
}

.indretning .top {
    background-image: url("media/top/indretning.jpg");
}

.ingeniører .top {
    background-image: url("media/top/ingenioerer.jpg");
}

.investeringsselskaber .top {
    background-image: url("media/top/investeringsselskaber.jpg");
}

.portaler_for_salg_og_udlejning .top {
    background-image: url("media/top/portaler_for_salg_og_udlejning.jpg");
}

.projektsalg .top {
    background-image: url("media/top/projektsalg.jpg");
}

.landinspektører .top {
    background-image: url("media/top/landinspektoerer.jpg");
}

.medie_reklame_og_kommunikation .top {
    background-image: url("media/top/medie_reklame_og_kommunikation.jpg");
}

.projektudviklere .top {
    background-image: url("media/top/projektudviklere.jpg");
}

.rekruttering .top {
    background-image: url("media/top/rekruttering.jpg");
}

.retail_management .top {
    background-image: url("media/top/retail_management.jpg");
}

.revisorer .top {
    background-image: url("media/top/revisorer.jpg");
}

.sikkerhedsvirksomheder .top {
    background-image: url("media/top/sikkerhedsvirksomheder.jpg");
}

.forsikringsmagler .top {
    background-image: url("media/top/investeringsselskaber.jpg");
}

.page .brancheguidetable tr td {
    min-height: 200px;
}

.page .brancheguidetable td {
    padding: 15px 0px;
}

.page .brancheguidetable td,
.page .brancheguidetable td * {
    vertical-align: top;
}

.page .brancheguidetable .billede {
    width: 17%;
}

.page .brancheguidetable .tekst {
    width: 80%;
    padding-left: 5px;
}

.page .brancheguidetable tr {
    border-bottom: 1px solid rgb(186, 192, 192);
}

.page .brancheguidetable .billede img {
    max-width: 105px;
    max-height: 70px;
    display: block;
    margin: 0px auto;
}

.page .brancheguidetable .tekst h1 a {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.page .brancheguidetable .tekst h1 {
    margin-bottom: 3px;
}

.page .brancheguidetable .tekst p {
    font-size: 0.9em;
}

.page .brancheguidetable .tekst p a {
    color: blue;
    text-decoration: underline;
}

.searchpage .top {
    background-image: url("media/SOEG-I-BRANCHEGUIDEN-639X43.jpg");
}