html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse
}

@font-face {
    font-family: 'Pictos';
    src: url('../../media/fonte/pictos-web.eot');
    src: local('☺'), url('../../media/fonte/pictos-web.woff') format('woff'), url('../../media/fonte/pictos-web.ttf') format('truetype'), url('../../media/fonte/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProLight-Regular';
    src: url('../media/fonte/FreightSansProLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSansProSemibold-Regular';
    src: url('../media/fonte/FreightSansProSemibold-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    height: 1080px;
    width: 100%;
    margin: 0px;
    position: relative;
    font-size: 12px;
    font-family: 'FreightSansProLight-Regular', Lucida Sans, Lucida Grande, sans-serif;
    background-image: url("../../media/andet/greyzz.png");
}

canvas {}


/* skrifter */

p {
    font-size: 1em;
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'FreightSansProLight-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.28em;
}

h4 {
    font-size: 1.14em;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

a:hover {
    text-decoration: none;
}

.pictos {
    font-family: Pictos;
}


/* statistik */

.page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    display: block;
}

.content {
    width: 1920px;
    height: 100%;
    position: relative;
}

.content .maned {
    width: 441px;
    height: 100%;
    position: relative;
    float: left;
    padding-right: 15px;
    margin-left: 15px;
}

.content .maned:last-of-type {
    padding-right: 0px;
    margin-right: 0px;
}

.content .maned .manedsnavn {
    width: 99.8%;
    height: 3%;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    line-height: 200%;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-weight: bold;
}

.content .maned .top {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.content .maned .top .topdel {
    height: 100%;
    position: relative;
    float: left;
}

.content .maned .top .beskrivelse {
    width: 25%;
    position: relative;
    border-right: 1px solid black;
}

.content .maned .top .beskrivelse .beskrivelsesdel {}

.content .maned .top .felt {
    height: 9.7%;
    position: relative;
    border-bottom: 1px solid transparent;
    /* fix for at få dem til at passe */
}

.content .maned .top .beskrivelse p {
    margin-left: 5px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    line-height: 150%;
}

.content .maned .top .topdel .navn h2 {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: 4px;
}

.content .maned .top .salger {
    width: 18.5%;
    position: relative;
    border-right: 1px solid black;
}

.content .maned .top .salger:last-of-type {
    width: 18%;
    border-right: 0px;
}

.content .maned .top .salger .salgsdel {
    height: 9.5%;
    position: relative;
    border-bottom: 1px solid black;
}

.content .maned .top .salger .todel {
    height: 20%;
    position: relative;
}

.content .maned .top .salger .salgsdel p {
    height: 100%;
}

.content .maned .top .salger .todel .to {
    height: 50%;
}

.content .maned .top .salger .salgsdel p {
    text-align: right;
    margin-right: 10px;
    line-height: 150%;
}

.content .maned .top .salger .diff p {
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .top .salger .diff {
    border-bottom-width: 0px;
}

.content .maned .top .salger .negativ p {
    color: red;
}


/* Bottom */

.content .maned .bottom {
    height: 76%;
    width: 100.3%;
    position: relative;
}

.content .maned .bottom .barchart {
    width: 19%;
    height: 90%;
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
    float: right;
    position: relative;
}

.content .maned .bottom .barchart h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .bottom .barchart p {
    position: absolute;
    bottom: 2px;
}

.content .maned .bottom .barchart .bud {
    left: 29px;
}

.content .maned .bottom .barchart .rea {
    left: 60px;
}

.content .maned .bottom .grafer {
    width: 80.5%;
    height: 100%;
}

.content .maned .bottom .grafer .graf {
    border-bottom: 1px solid black;
    padding-top: 1px;
    border-left: 1px solid black;
}

.content .maned .bottom .grafer .graf .graftext {
    float: right;
    width: 60px;
}

.content .maned .bottom .grafer .graf .graftext h1 {
    margin: 5px 0px 20px 0px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'FreightSansProSemibold-Regular', Lucida Sans, Lucida Grande, sans-serif;
}

.content .maned .bottom .grafer .graf .graftext p {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 20px;
    position: relative;
}

.content .maned .bottom .grafer .graf .graftext .bud:before {
    content: "";
    height: 5px;
    width: 52px;
    background-color: rgba(0, 100, 204, 0.5);
    position: absolute;
    top: -8px;
    left: 0px;
}

.content .maned .bottom .grafer .graf .graftext .rea {
    margin-bottom: 40px;
}

.content .maned .bottom .grafer .graf .graftext .rea:before {
    content: "";
    height: 5px;
    width: 52px;
    background-color: rgba(23, 148, 0, 0.5);
    position: absolute;
    top: -8px;
    left: 0px;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer {
    width: 90%;
    padding: 1px 0px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-right: 2px;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer:hover {
    background-color: black;
}

.content .maned .bottom .grafer .graf .graftext .andre_grafer a:hover {
    color: white;
}

.content .maned .bottom .grafer .graf .graftext .active {
    background-color: black;
}

.content .maned .bottom .grafer .graf .graftext .active a {
    color: white;
}

.ar_til_dato {
    width: 800px;
    height: 100%;
    float: left;
    margin-left: 15px;
}

.ar_til_dato .ar_del {
    padding-top: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.ar_til_dato .ar_del h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

.ar_til_dato .ar_del .beskrivelse {
    float: right;
    width: 100px;
    height: 82.3%;
    padding-top: 40px;
}

.ar_til_dato .ar_del .beskrivelse p {
    font-size: 14px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 20px;
    position: relative;
}

.ar_til_dato .ar_del .beskrivelse .procent {
    padding-top: 7px;
    font-weight: bold;
}

.ar_til_dato .ar_del .beskrivelse p:before {
    content: "";
    height: 5px;
    width: 20px;
    background-color: rgba(23, 148, 0, 0.5);
    position: absolute;
    top: 4px;
    left: -25px;
}

.ar_til_dato .ar_del .beskrivelse .to:before {
    background-color: rgba(0, 100, 204, 0.5);
}

.ar_til_dato .ar_del .beskrivelse .tre:before {
    background-color: rgba(255, 193, 0, 0.5);
}